@font-face {
    font-family: 'FS Albert Web Regular';
    src: url(/app/assets/fonts/FSAlbertWeb-Regular.woff);
}
@font-face {
    font-family: 'FS Albert Web Bold';
    src: url(/app/assets/fonts/FSAlbertWeb-Bold.woff);
}
@font-face {
    font-family: 'Icomoon';
    src: url(/app/assets/fonts/icomoon.ttf);
}