// COLORS
$blue: #005bcb;
$light-blue: #e8eff4;
$dark-blue: #0f0e1e;
$red: #e72829;
$title-p: #979fa9;
$yellow: #ffbf0c;
$corner-flip: #d7e3ec;
$details: #002c86;
$play-btn-hover: #0050b3;
$search-btn-hover: #f2b50c;
$border-color: #d6dfe8;
$grey-text: #838b95;
$footer-col1: #787f8a;
$footer-col-list: #b2d5ec;
$footer-border: #2f2e3c;

// SCREENS SIZES
$screen-lg: 1130px;
$screen-md: 768px;
$screen-sm: 480px;

// CONTAINERS
$container-lg: 1130px;
$container: 960px;